*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    background: url(./image/Hero-bg.png); 
    height: 100dvh;
    background-position: center;
    background-size: cover;
}

.header-content{
    display: flex;
    margin: 0 auto;   
}

.header-content button{
    color: white;
    background-color: blue;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 80px;
    height: 28px;
    border: none;

}

.header-content{
    width: 1140px;    
    padding: 20px;
    justify-content: space-between;
}

.header-content p{
    color: blue;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.middle-content{
    text-align: center;
    margin-top: 100px;
    
}

.middle-content h1{
    font-size: 70px;
}

.middle-content button{
    color: white;
    background-color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 140px;
    height: 37px;
    border: none;
    margin-top: 30px;
}

.main-div{
    display: flex;
    margin: 0 auto;
    width: 1140px;
    justify-content: space-between;
    margin-top: 100px;

}

.main-div-content{
    margin-top: 50px;
    text-align: left;
    max-width: 400px;
}

.main-div-content h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-div-content p{
    color: #555;
    margin-bottom: 20px;

}

.main-div-content button{
    color: white;
    background-color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 160px;
    height: 37px;
    border: none;
    margin-top: 10px;

}

.main-div-image{
    text-align: right;
    max-width: 400px;
}

.main-div-image img{
    height: 300px;
    border-radius: 30px;
}


.status {
  background-color: #e2e0f1;
  padding: 60px 20px;
  border-radius: 16px;
  margin: 100px auto;
  width: 1140px;
}

.status h2 {
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.status-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.status-item h3 {
  font-size: 50px;
  color: #4141f7;
  font-weight: 800;
}

.status-item p {
  color: #555;
  font-size: 15px;
  margin-top: 2px;
}

.user-section{
    max-width: 1140px;
    margin: 0 auto;
}

.user-section h1{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.stars{
    color: rgb(248, 181, 11);
    margin-bottom: 10px;
}

.user-review-text{
    box-sizing: border-box;
    background-color:  #f0f0f5;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.user-review-text h2{
    font-size: 20px;

}

.user-review-text p{
    font-size: 15px;
    margin-top: 10px;
}

.user-review{
    display: flex;
    justify-content: space-between;

}

.profile{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.user-profile-img img{
    border-radius: 50%;
}

.user-profile-text p{
    margin-top: 2px;
    font-weight: 700;
    font-size: 15px;


}

.user-profile-text span{
    font-size: 13px;
    color: #363535;


}

.fourth-section{
    max-width: 1140px;
    background-color: #f0f0f5;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.fourth-content h1{
    font-size: 50px;
    padding-top: 30px;

}

.fourth-content p{
    font-size: 15px;
    padding: 10px;
}

.fourth-content button{
    color: white;
    background-color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 160px;
    height: 37px;
    border: none;
    margin-top: 20px;
}

.fourth-img img{
    height: 350px;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.form-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form-section{
    margin-top: 100px;
}

.form-content h1{
    font-size: 100px;
    padding-top: 120px;
    padding-left: 50px;
}

.form-start{
    border-radius: 5px;
    padding: 20px;
    
}

label {
    display: block;
    font-weight: 600;
    font-size: 25px;
    padding: 5px 0;
}

input[type=text], [type=email]{
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #747171;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #747171;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  resize: none;
}

form{
    padding: 50px;
}

.form-start button{
    color: white;
    background-color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 250px;
    height: 37px;
    border: none;
    margin-top: 20px;

}

.footer-section{
    background-color: #ebebeb;
}

.footer-section-content h1{
    text-align: center;
    margin-top: 10px;
    padding-top: 50px;
    font-family:  "Poppins", sans-serif;
    font-size: 80px;
    color: blue;
}

.footer-content p{
    text-align: center;
    color: #363535;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    padding-bottom: 50px;
}

.footer-nav ul li{
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    color: #363535;
}
